*.class
*.log
*.ini
InternetOfThings-box/node_modules/
InternetOfThings-box/npm-debug.log
InternetOfThings-box/*.ini
InternetOfThings-box/MainConfig.ini
InternetOfThings-box/configssh.json
README.sublime-project
README.sublime-workspace
.vagrant/