<!-- Info boxes -->
<div class="row"><!-- Info boxes -->
  <div class="col-md-12">
    <div class="box">
      <div class="box-header with-border">
        <!-- <h3 class="box-title"></h3> -->
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-toggle="tooltip" title="Collapse" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
        </div>
      </div><!-- /.box-header -->
      <div class="box-body">
        <div class="row"><!-- Info boxes -->
          <div class="col-md-4">                  
            <div class="input-group">
              <span class="input-group-addon" id="sizing-addon1">endereco</span>
              <input id="endereco" type="text" class="form-control" value="[fd00::212:4b00:60d:60fe]" aria-describedby="sizing-addon1">
            </div>
          </div>
          <div class="col-md-4">               
            <div class="input-group">
              <span class="input-group-addon" id="sizing-addon2">folder</span>
              <input id="folder" type="text" class="form-control" value="actuators" aria-describedby="sizing-addon2">
            </div>            
          </div>
          <div class="col-md-4">               
            <div class="input-group">
              <span class="input-group-addon" id="sizing-addon3">resource</span>
              <input id="resource" type="text" class="form-control" value="leds?color=r" aria-describedby="sizing-addon3">
            </div>            
          </div>
        </div>
        <div class="row"><!-- Info boxes -->
          <div class="col-md-4">                  
            <div class="input-group">
              <span class="input-group-addon" id="sizing-addon4">params</span>
              <input id="params" type="text" class="form-control" value="" aria-describedby="sizing-addon4">
            </div>
          </div>
          <div class="col-md-4">               
            <div class="input-group">
              <span class="input-group-addon" id="sizing-addon5">payload</span>
              <input id="payload" type="text" class="form-control" value="mode=on" aria-describedby="sizing-addon5">
            </div>            
          </div>
          <div class="col-md-4">               
            <div class="input-group">
              <span class="input-group-addon" id="sizing-addon6">mMethod</span>
              <input id="mMethod" type="text" class="form-control" value="GET" aria-describedby="sizing-addon6">
            </div>            
          </div>
        </div>
        <div class="row"><!-- Info boxes -->
          <div class="col-md-4">                  
            <div class="input-group">
              <span class="input-group-addon" id="sizing-addon7">mObserve</span>
              <input id="mObserve" type="text" class="form-control" value="false" aria-describedby="sizing-addon7">
            </div>
          </div>
          <div class="col-md-4">               
            <button id="getdata" type="button" class="btn btn-info">Get Data From Sensor</button>
          </div>
          <div class="col-md-4">    
            <button id="getdatath" type="button" class="btn btn-info">Thread Get Data From Sensor</button>
          </div>
        </div>


        <!-- 
getdataFromSensor('[aaaa::c30c:0:0:2]','actuators','leds?color=r','','mode=on','post',false);
-->
<div id="htmlcode">          
</div>                   
</div><!-- ./box-body -->
</div><!-- /.box -->
</div><!-- /.col --> 
</div>  
